<div class="footer">
	<small>
		<%= link_to 'Home',  root_path %> &lowast; <%= link_to "History", history_path %> &lowast; <%= link_to "Projects", projects_path %> &lowast; <%= link_to "Plant Services", plant_services_path %> &lowast; <%= link_to "Locations", locations_path %> &lowast; <%= link_to "Contact", contact_path %>
	</small>
	<br>
	<small>
		Copyright &copy; Caithness Development, 2001-2013
	</small>
</div>

